@import '../styles/abstracts/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  max-width: $content-width-min;
  margin-bottom: $space-vertical;

  @media (max-width: 400px) {
    flex-direction: column;
    align-items: center;
    row-gap: $space-horizontal;

    & .button {
      width: 80%;
    }
  }
}
