@import url('https://fonts.cdnfonts.com/css/lg-gm200');
@import './abstracts/variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: $background-color;
}

body {
  margin: 0;
}

body * {
  font-family: 'LG_Wine_Euro', sans-serif;
}

.wrapper {
  margin: auto;
  max-width: 90wv;
}