@import '../../../styles/abstracts/variables.scss';

.cars-manager {
  display: flex;
  align-items: center;
  padding: $padding;
  gap: $padding;

  .button {
    background: $car-manager-button-color-background;
  }

  .car-name {
    color: $font-color-light;
    font-size: $title-font-size;

  }

  .button_disabled {
    background: transparent;
    pointer-events: none;
  }
}
