.table {
  transform-style: preserve-3d;
  outline: solid 1px transparent;
  margin: 0px auto 0px auto;
  min-height: 142px;
  padding: 15px 15px 22px 15px;
  display: inline-block;
  z-index: 999;
  position: relative;
  white-space: nowrap;
}