@import '../../../styles/abstracts/variables.scss';

.level-viewer {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 10;

    margin: 5px;

    border: 1px solid $border-color;
    border-radius: $view-border-radius;

    overflow-x: auto;
}

.level-viewer__button {
    height: 3rem;
    margin: 0 .5rem;
    padding: 0 $padding;
    transition: background-color .3s;
    border: 1px solid $border-color;
    outline: none;

    &:hover {
        background: $color-tooltip-background;
    }
}

.level-viewer__content {
    font-size: $font-size-section-header;
    color: $font-color-light;
}

.level-viewer__list-item {
    cursor: pointer;
    padding-bottom: 1rem;

    &:hover {
        transform: scale(1.1);
    }
}

.level-viewer__list-item_active {
    font-style: italic;
    font-weight: bold;
    transform: scale(1.1);
    text-shadow: 0px 0px 20px $text-color-shadow;
}