@charset "UTF-8";

@import "../../sass/base/fonts";

@import "../../sass/abstracts/variables";
@import "../../sass/abstracts//mixins";
@import "../../sass/abstracts/placeholders";

@import "../../sass/base/normalize";
@import "../../sass/base/common";
@import "../../sass/base/typography";

@import "../../sass/components/navbar";
@import "../../sass/components/aside-navbar";
@import "../../sass/components/button";
@import "../../sass/components/card";
@import "../../sass/components/slider";
@import "../../sass/components/button-paginator";
@import "../../sass/components/burger";

@import "../../sass/layout/wrapper";
@import "../../sass/layout/header";
@import "../../sass/layout/footer";
@import "../../sass/layout/section-pets2";

@import "../../sass/pages/pets";
