@import '../../styles/abstracts/variables.scss';

.section-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: $title-color;
  font-size: $font-size-section-header;

  background-color: $title-background-color;
  border: 1px solid $border-color;
}

.editor-viewer {
  display: flex;
  flex-direction: column;
  color: $font-color-code;
  // color: $title-color;
  padding: 1rem;
  font-size: $font-size-code;

  cursor: default;
}