@import '../styles/abstracts/variables';

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;

  border: 1px solid $field-border-color;
}

.field_hidden {
  background-color: $field-hidden-bgcolor;
  font-size: 0;
}

.field_open {
  background-color: $field-open-bgcolor;
}

.field_marked {
  background: url('../assets/image/flag.png') no-repeat center,  $field-hidden-bgcolor;
  background-size: contain;
  font-size: 0;
}

.field_mine {
  background-color: $field-open-bgcolor;
  background: url('../assets/image/mine.png') no-repeat center, $field-open-bgcolor;
  background-size: contain;
  font-size: 0;
}

.field_explosion {
  background: url('../assets/image/mine.png') no-repeat center, $field-explosion-bgcolor;
  background-size: contain;
  font-size: 0;
}

.field_question {
  background: url('../assets/image/question.png') no-repeat center, $field-hidden-bgcolor;
  background-size: contain;
  font-size: 0;
}

.field_mines1 {
  color: #000000;
}

.field_mines2 {
  color: #ff00ff;
}

.field_mines3 {
  color: #0000ff;
}

.field_mines4 {
  color: #879cfa;
}

.field_mines5 {
  color: #008000;
}

.field_mines6 {
  color: #ffff00;
}

.field_mines7 {
  color: #ffa500;
}

.field_mines8 {
  color: #ff0000;
}

.theme_dark {
  .field {
    border: 1px solid $theme_dark-field-border-color;
  }

  .field_hidden {
    background-color: $theme_dark-field-hidden-bgcolor;
  }

  .field_open {
    background-color: $theme_dark-field-open-bgcolor;
  }

  .field_marked {
    background: url('../assets/image/flag.png') no-repeat center,  $theme_dark-field-hidden-bgcolor;
    background-size: contain;
    font-size: 0;
  }

  .field_mine {
    background-color: $theme_dark-field-open-bgcolor;
    background: url('../assets/image/mine.png') no-repeat center, $theme_dark-field-open-bgcolor;
    background-size: contain;
    font-size: 0;
  }

  .field_explosion {
    background: url('../assets/image/mine.png') no-repeat center, $theme_dark-field-explosion-bgcolor;
    background-size: contain;
    font-size: 0;
  }

  .field_question {
    background: url('../assets/image/question.png') no-repeat center, $theme_dark-field-hidden-bgcolor;
    background-size: contain;
    font-size: 0;
  }
}
