@import '../styles/abstracts/variables';

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;

  border: 1px solid $field-border-color;
}

.field_hidden {
  background-color: $field-hidden-bgcolor;
  font-size: 0;
}

.field_open {
  background-color: $field-open-bgcolor;
}

.field_marked {
  background: url('../assets/image/flag.png') no-repeat center,  $field-hidden-bgcolor;
  background-size: contain;
  font-size: 0;
}

.field_mine {
  background-color: $field-open-bgcolor;
  background: url('../assets/image/mine.png') no-repeat center, $field-open-bgcolor;
  background-size: contain;
  font-size: 0;
}

.field_explosion {
  background: url('../assets/image/mine.png') no-repeat center, $field-explosion-bgcolor;
  background-size: contain;
  font-size: 0;
}

.field_question {
  background: url('../assets/image/question.png') no-repeat center, $field-hidden-bgcolor;
  background-size: contain;
  font-size: 0;
}