<pre><code class="{{LANGUAGE_XML}}">&lt;div class="table"&gt;</code></pre>

<div class="{{PADDING_LEFT}} {{CODE_SELECTABLE}}" {{DATA_ITEM_ID}}="0">
  <pre><code class="{{LANGUAGE_XML}}">&lt;apple /&gt;</code></pre>
</div>

<div class="{{PADDING_LEFT}} {{CODE_SELECTABLE}}" {{DATA_ITEM_ID}}="1">
  <pre><code class="{{LANGUAGE_XML}}">&lt;apple class="small" /&gt;</code></pre>
</div>

<div class="{{PADDING_LEFT}} {{CODE_SELECTABLE}}" {{DATA_ITEM_ID}}="2">
  <pre><code class="{{LANGUAGE_XML}}">&lt;bento&gt;</code></pre>
</div>
<div class="{{PADDING_LEFT_X2}} {{CODE_SELECTABLE}}" {{DATA_ITEM_ID}}="3">
  <pre><code class="{{LANGUAGE_XML}}">&lt;orange class="small" /&gt;</code></pre>
</div>
<div class="{{PADDING_LEFT}} {{CODE_SELECTABLE}}" {{DATA_ITEM_ID}}="2">
  <pre><code class="{{LANGUAGE_XML}}">&lt;/bento&gt;</code></pre>
</div>

<div class="{{PADDING_LEFT}} {{CODE_SELECTABLE}}" {{DATA_ITEM_ID}}="4">
  <pre><code class="{{LANGUAGE_XML}}">&lt;plate&gt;</code></pre>
</div>
<div class="{{PADDING_LEFT_X2}} {{CODE_SELECTABLE}}" {{DATA_ITEM_ID}}="5">
  <pre><code class="{{LANGUAGE_XML}}">&lt;orange /&gt;</code></pre>
</div>
<div class="{{PADDING_LEFT}} {{CODE_SELECTABLE}}" {{DATA_ITEM_ID}}="4">
  <pre><code class="{{LANGUAGE_XML}}">&lt;/plate&gt;</code></pre>
</div>

<div class="{{PADDING_LEFT}} {{CODE_SELECTABLE}}" {{DATA_ITEM_ID}}="6">
  <pre><code class="{{LANGUAGE_XML}}">&lt;plate&gt;</code></pre>
</div>
<div class="{{PADDING_LEFT_X2}} {{CODE_SELECTABLE}}" {{DATA_ITEM_ID}}="7">
  <pre><code class="{{LANGUAGE_XML}}">&lt;orange class="small" /&gt;</code></pre>
</div>
<div class="{{PADDING_LEFT}} {{CODE_SELECTABLE}}" {{DATA_ITEM_ID}}="6">
  <pre><code class="{{LANGUAGE_XML}}">&lt;/plate&gt;</code></pre>
</div>

<pre><code class="{{LANGUAGE_XML}}">&lt;/div&gt;</code></pre>