@import '../styles/abstracts/variables';

.playground {
  display: grid;
  gap: 0;
}

.playground_easy {
  grid-template-columns: repeat($playground-easy, 1fr);
  max-width: 500px;
  font-size: $field-font-size-large;
}

.playground_medium {
  grid-template-columns: repeat($playground-medium, 1fr);
  max-width: 750px;
  font-size: $field-font-size-large;
}

.playground_hard {
  grid-template-columns: repeat($playground-hard, 1fr);
  max-width: 750px;
  font-size: $field-font-size-medium;

  @media (max-width: 700px) {
    font-size: $field-font-size-small;
  }
}