@import '../styles/abstracts/variables';

.size-selector {
  display: flex;
  flex-direction: column;
  row-gap: $space-vertical;
  align-items: flex-start;
}

.size-selector__label {
  display: flex;
  align-items: center;
  font-size: $font-size-large;
}

.size-selector__input {
  transform: scale($input-scale);
  margin-right: $space-horizontal;
  height: 3*$space-vertical;
}


