.footer {
  --animation-speed: 0.5s;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer__column {
  display: flex;
  max-width: 30%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 60px;
  color: $color-light-xl;
  overflow-wrap: anywhere;
}

.footer__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $color-primary;
  fill: $color-primary;
  transition: color var(--animation-speed), fill var(--animation-speed);
}

.footer__icon {
  margin-right: 20px;
}

.footer__link:hover {
  color: $color-light-xl;
  fill: $color-light-xl;
}

.footer__image {
  max-width: 100%;
}