.header {
  width: 100%;
  background-color: transparent;
  padding: 30px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $desktop-width-padding;

  @include respond-to("tablet") {
    padding: 0 $tablet-width-padding;
  }

  @include respond-to("mobile") {
    padding: 0 20px;
  }
}

.header__logo {
  display: flex;
  flex-direction: column;
}

.header__title {
  margin-bottom: 10px;
  text-decoration: none;
  @extend %transition-color;
}

.header__subtitle {
  @extend %font-logo-subtitle;
  margin-left: 4px;
  @extend %transition-color;
}

.header__navbar {

  @include respond-to("toggle-menu") {
    display: none;
  }

  ul {
    display: flex;
    gap: 36px;
  }

  li {
    margin-bottom: 6px;
  }
}

.header_dark {

  .header__title {
    color: $color-primary;
  }

  .header__subtitle {
    color: $color-light-xl;
  }

  .header__logo {

    &:hover {

      .header__title,
      .header__subtitle {
        color: $color-primary-light;
      }
    }

    &:active {
      .header__title {
        color: $color-primary;
      }

      .header__subtitle {
        color: $color-light-xl;
      }
    }
  }
}

.header_light {

  .header {
    background-color: $color-light-xl;
  }

  .header__title {
    color: $color-dark-l;
  }

  .header__subtitle {
    color: $color-dark-xl;
  }

  .header__logo {

    &:hover {

      .header__title,
      .header__subtitle {
        color: $color-dark-m;
      }
    }

    &:active {
      .header__title {
        color: $color-dark-l;
      }

      .header__subtitle {
        color: $color-dark-xl;
      }
    }
  }
}

.header_pos-absolute {
  position: absolute;
}