.section-pets2 {
  background-color: $color-light-l;
}

.section-pets2__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px $desktop-width-padding 100px;

  @include respond-to("smaller-desktop") {
    padding: 80px $tablet-width-padding 100px;
  }

  @include respond-to("tablet") {
    padding-bottom: 76px;
  }

  @include respond-to("mobile") {
    padding: 42px $mobile-width-padding;
  }
}

.section-pets2__heading {
  color: $color-dark-l;
  margin-bottom: 60px;
  text-align: center;

  @include respond-to("tablet") {
    margin-bottom: 30px;
  }

  @include respond-to("mobile") {
    margin-bottom: 42px;
  }
}

.section-pets2__title {
  @include respond-to("mobile") {
    @include font3h-mobile();
  }
}