.section-help {
  background-color: $color-light-xl;
}

.section-help__block {
  display: flex;
  flex-direction: column;
  padding: 80px $desktop-width-padding 100px;

  @include respond-to("tablet") {
    padding: 80px $tablet-width-padding 100px;
  }

  @include respond-to("big-mobile") {
    padding: 42px 15px 0;
  }

  @include respond-to("mobile") {
    padding: 42px 15px 0;
  }
}

.section-help__heading {
  color: $color-dark-l;
  margin-bottom: 60px;
  text-align: center;

  @include respond-to("mobile") {
    margin-bottom: 42px;
    .section-help__title {
      @include font($size: 2.5rem, $height: 3.2rem, $spacing: 0.06em);
    }
  }
}

.section-help__list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 120px;

  @include respond-to("tablet") {
    column-gap: 60px;
    margin-bottom: 42px;
  }

  @include respond-to("mobile") {
    gap: 30px;
    justify-content: space-between;
  }
}
