.section-about {
  background-color: $color-light-xl;
}

.section-about__block {
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  justify-content: center;

  @include respond-to("small-desktop") {
    flex-direction: column;
    align-items: center;
  }

  @include respond-to("mobile") {
    padding: 43px $mobile-width-padding 0;
    text-align: center;
  }
}

.section-about__image {
  max-width: 100%;

  @include respond-to("small-desktop") {
    max-width: 39.1%;
    order: 1;
    margin-top: 80px;
  }

  @include respond-to("mobile") {
    max-width: 86.7%;
    margin-top: 40px;
  }
}

.section-about__description {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  overflow: hidden;
  padding-top: 14px;
  margin-left: 120px;

  @include respond-to("small-desktop") {
    padding-top: 0;
    margin-left: 0;
  }

  @include respond-to("small-desktop") {
    padding: 0 15px 0;
  }

  .title {
    max-width: 370px;
    color: $color-dark-l;
    margin-bottom: 25px;

    @include respond-to("mobile") {
      .section-about__title {
        @include font($size: 2.5rem, $height: 3.2rem, $spacing: 0.06em);
      }
    }
  }

  .text {
    max-width: 430px;
    @extend %font-paragraph-l;
    color: $color-dark-xl;
    margin-bottom: 25px;

    @include respond-to("mobile") {
      text-align: justify;
      margin-bottom: 22px;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }
}