.section-house {
  background: url("../../assets/images/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.section-house__block {
  padding: 180px $desktop-width-padding 0;

  @include respond-to("big-tablet") {
    padding: 0 $tablet-width-padding;
  }

  @include respond-to("mobile") {
    padding: 0 $mobile-width-padding;
  }
}

.section-house__content {
  display: flex;
  justify-content: space-between;

  @include respond-to("big-tablet") {
    flex-direction: column;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    max-width: 38.33%;
    padding-top: 13.7%;
    overflow: hidden;

    @include respond-to("big-tablet") {
      max-width: 65%;
      padding-top: 150px;
      padding-bottom: 100px;
      align-items: center;
    }

    @include respond-to("toggle-menu") {
      max-width: 100%;
      padding: 150px 17.4% 100px;
    }

    @include respond-to("big-mobile") {
      text-align: center;
      padding: 150px 0 100px;
    }

    @include respond-to("mobile") {
      padding-bottom: 105px;
    }

    .content__title {
      max-width: 310px;
      margin-bottom: 42px;
      color: $color-light-xl;

      @include respond-to("big-tablet") {
        align-self: flex-start;
      }

      @include respond-to("big-mobile") {
        align-self: auto;
      }
    }

    .content__text {
      @extend %font-paragraph-l;
      margin-bottom: 42px;
      color: $color-dark-s;
    }
  }

  .section-house__title {

    @include respond-to("small-tablet") {
      font-size: 3.5rem;
      line-height: 4rem;
    }

    @include respond-to("big-mobile") {
      font-size: 3rem;
      line-height: 3.8rem;
    }

    @include respond-to("mobile") {
      max-width: 250px;
      @include font3h-mobile();
    }
  }

  .image {
    max-width: 58.17%;
    object-fit: contain;

    @include respond-to("big-tablet") {
      max-width: 80.42%;
      align-self: end;
    }

    @include respond-to("mobile") {
      max-width: 86.7%;
    }
  }
}