<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}}" {{DATA_ITEM_TOOLTIP}}="&lt;apple&gt;&lt;/apple&gt;"
  {{DATA_ITEM_ID}}="0">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_APPLE}}" src="../../../assets/images/apple.png">
</div>

<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}}" {{DATA_ITEM_TOOLTIP}}="&lt;apple class='small'&gt;&lt;/apple&gt;"
  {{DATA_ITEM_ID}}="1">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_APPLE}} {{SIZE_SMALL}}" src="../../../assets/images/apple.png">
</div>

<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_CONTAINER}}"
  {{DATA_ITEM_TOOLTIP}}="&lt;bento&gt;&lt;/bento&gt;" {{DATA_ITEM_ID}}="2">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_BENTO}}" src="../../../assets/images/bento.png">

  <div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_INSIDE}}"
    {{DATA_ITEM_TOOLTIP}}="&lt;orange class='small'&gt;&lt;/orange&gt;" {{DATA_ITEM_ID}}="3">
    <img class="{{TABLE_ITEM}} {{TABLE_ITEM_ORANGE}} {{SIZE_SMALL}} {{TABLE_ITEM_ACTIVE}}"
      src="../../../assets/images/orange.png">
  </div>
</div>

<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_CONTAINER}}"
  {{DATA_ITEM_TOOLTIP}}="&lt;plate&gt;&lt;/plate&gt;" {{DATA_ITEM_ID}}="4">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_PLATE}}" src="../../../assets/images/plate.png">

  <div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_INSIDE}}"
    {{DATA_ITEM_TOOLTIP}}="&lt;orange&gt;&lt;/orange&gt;" {{DATA_ITEM_ID}}="5">
    <img class="{{TABLE_ITEM}} {{TABLE_ITEM_ORANGE}}" src="../../../assets/images/orange.png">
  </div>
</div>

<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_CONTAINER}}"
  {{DATA_ITEM_TOOLTIP}}="&lt;plate&gt;&lt;/plate&gt;" {{DATA_ITEM_ID}}="6">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_PLATE}}" src="../../../assets/images/plate.png">

  <div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_INSIDE}}"
    {{DATA_ITEM_TOOLTIP}}="&lt;orange class='small'&gt;&lt;/orange&gt;" {{DATA_ITEM_ID}}="7">
    <img class="{{TABLE_ITEM}} {{TABLE_ITEM_ORANGE}} {{SIZE_SMALL}} {{TABLE_ITEM_ACTIVE}}"
      src="../../../assets/images/orange.png">
  </div>
</div>