$view-border-radius: 0;

$font-color-light: #efefef;
$font-color: #84837f;
$font-color-code: $font-color;
$font-color-dark: #5f5d5a;
$font-color-level-done: #00d600;
$font-color-level-done-with-help: yellow;

$background-color: #2e2923;
$level-background-color: #1b1813;
$border-color: $font-color-dark;

$title-color: $font-color-light;
$title-background-color: #27241d;

$editor-background-color: #201d18;
$editor-background-color-light: #efefef;

$color-tooltip-border: $border-color;
$color-tooltip-background: #07c9f5;

$font-size-code: 1.8rem;
$font-size-section-header: 1.8rem;
$font-size-tooltip: 2rem;
$font-size-board-order: 4rem;
