$view-border-radius: 0;

$level-background-color: #1b1813;

$font-color-light: #efefef;
$font-color: #84837f;
$font-color-dark: #5f5d5a;

$background-color: #2e2923;
$title-background-color: #27241d;
$editor-background-color: #201d18;
$title-color: $font-color-light;
$border-color: $font-color-dark;

$font-size-code: 1.6rem;
$font-size-section-header: 1.8rem;

