@import '../styles/abstracts/variables.scss';

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 9rem;

  @media (max-width: 400px) {
    min-width: 0;
    width: 20%;
  }
}

.counter__title {
  color: $counter-color-text;
  font-size: $counter-font-size;
  font-weight: 700;
}

.counter__value {
  border: 1px solid $color-counter-border;
  color: $color-counter-value;
  width: 100%;
  text-align: center;
  font-size: $counter-font-size;
  font-weight: 700;
  border-radius: 5px;

  @media (max-width: 400px) {
    min-height: 0;
  }
}

.theme_dark {
  .counter__title {
    color: $theme-dark-counter-color-text;
  }

  .counter__value {
    border: 1px solid $theme-dark-color-counter-border;
    color: $theme-dark-color-counter-value;
  }
}