@import '../styles/abstracts/variables.scss';

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter__title {
  color: $counter-color-text;
  font-size: $counter-font-size;
  font-weight: 700;
}

.counter__value {
  border: 1px solid $color-counter-border;
  padding: calc($padding / 2) $padding;
  color: $color-counter-value;
  min-height: 3rem;
  min-width: 9rem;
  text-align: center;
  font-size: $counter-font-size;
  font-weight: 700;
  border-radius: 5px;
}

.theme_dark {
  .counter__title {
    color: $theme-dark-counter-color-text;
  }

  .counter__value {
    border: 1px solid $theme-dark-color-counter-border;
    color: $theme-dark-color-counter-value;
  }
}