@import '../styles/abstracts/variables.scss';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: $content-width-min;
  margin-top: $space-vertical;
  margin-bottom: 2 * $space-vertical;
  column-gap: $space-horizontal;
}