@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/georgia-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/georgia-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 400;
  src: url("../../assets/fonts/georgia-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 700;
  src: url("../../assets/fonts/georgia-bold-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/arial-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/arial-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  src: url("../../assets/fonts/arial-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: 700;
  src: url("../../assets/fonts/arial-bold-italic.ttf") format("truetype");
}
.section-about__description .text, .section-house__content .content .content__text, .navbar-link {
  font-family: "Arial";
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: normal;
}

.header__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

.section-donation__content .bank-card, .footer__link, .header__subtitle, .header__title, button.button-arrow, .card, a.button, .navbar-link {
  transition: color 0.5s ease-out, fill 0.5s ease-out, background-color 0.5s ease-out;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* set box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset padding */
ul[class],
ol[class] {
  padding: 0;
}

/* reset margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  overflow: hidden;
}

html {
  font-size: 10px;
  font-family: "Georgia", "Arial", sans-serif;
  scroll-behavior: smooth;
}

/* set basic config for body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 0;
}

section, main, article, aside, header, footer {
  display: block;
}

/* for test purpose only */
.br {
  border: 1px solid red;
}

h1 {
  font-family: "Georgia";
  font-style: normal;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
}

h2 {
  font-family: "Georgia";
  font-style: normal;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 5.7rem;
  letter-spacing: normal;
}

h3 {
  font-family: "Georgia";
  font-style: normal;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
}
h3.mobile {
  font-size: 2.5rem;
}

h4 {
  font-family: "Georgia";
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h5 {
  font-family: "Georgia";
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
}
h5.modal-window {
  font-weight: 700;
}

.paragraph-mobile-menu {
  font-family: "Arial";
  font-style: normal;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 5.1rem;
  letter-spacing: normal;
}

.navbar-link {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  padding-bottom: 4px;
}
.navbar-link.active {
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 4px;
  pointer-events: none;
}

.navbar-link_light {
  color: #F6F6F6;
}
.navbar-link_light:hover {
  color: #FAFAFA;
}
.navbar-link_light:active {
  color: #F6F6F6;
}

.navbar-link_dark {
  color: #545454;
}
.navbar-link_dark:hover {
  color: #292929;
}
.navbar-link_dark:active {
  color: #545454;
}

a.button {
  display: block;
  text-align: center;
  padding: 13px 43px;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  font-family: Georgia;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}
a.button.button--transparent {
  background-color: transparent;
}
a.button:hover, a.button.button--transparent:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}
a.button:active, a.button.button--transparent:active {
  border-color: #F1CDB3;
  background-color: #F1CDB3;
}

.card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: #FAFAFA;
  border-radius: 9px;
  overflow: hidden;
}
.card .card__image {
  width: 100%;
  margin-bottom: 30px;
  background-color: #FAFAFA;
}
.card .card__title {
  font-family: "Georgia";
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.card:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.card:hover a.button, .card:hover a.button.button--transparent {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}
.card:hover a.button:active, .card:hover a.button.button--transparent:active {
  border-color: #F1CDB3;
  background-color: #F1CDB3;
}

button.button-arrow {
  width: 52px;
  height: 52px;
  padding: 0;
  flex-shrink: 0;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  color: #292929;
  background-color: transparent;
  cursor: pointer;
  background: url("../../assets/icons/arrow.svg") center no-repeat;
}
button.button-arrow.button-arrow--left {
  transform: rotate(0deg);
}
button.button-arrow.button-arrow--up {
  transform: rotate(90deg);
}
button.button-arrow.button-arrow--right {
  transform: rotate(180deg);
}
button.button-arrow.button-arrow--down {
  transform: rotate(-90deg);
}
button.button-arrow:hover, button.button-arrow.button-arrow--left:hover, button.button-arrow.button-arrow--up:hover, button.button-arrow.button-arrow--right:hover, button.button-arrow.button-arrow--down:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}
button.button-arrow:active, button.button-arrow.button-arrow--left:active, button.button-arrow.button-arrow--up:active, button.button-arrow.button-arrow--right:active, button.button-arrow.button-arrow--down:active, button.button-arrow.active {
  color: #292929;
  border-color: #F1CDB3;
  background-color: #F1CDB3;
}
button.button-arrow:disabled, button.button-arrow.button-arrow--left:disabled, button.button-arrow.button-arrow--up:disabled, button.button-arrow.button-arrow--right:disabled, button.button-arrow.button-arrow--down:disabled {
  color: #CDCDCD;
  border-color: #CDCDCD;
  background: url("../../assets/images/arrow-disabled.svg") center no-repeat;
  background-color: transparent;
  cursor: auto;
}

.help-card {
  display: flex;
  flex-direction: column;
  height: 113px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.help-card .help-card__image {
  width: 60px;
}
.help-card .help-card__caption {
  color: #545454;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.slider__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 40px;
}

.slider__nav {
  display: flex;
  margin-top: 60px;
  gap: 20px;
}

.burger {
  display: none;
  width: 30px;
  height: 22px;
  background: url("../../assets/icons/burger.svg");
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.burger:hover {
  scale: 1.1;
}
.burger:active {
  transform: rotate(90deg);
}

.burger_dark {
  background: url("../../assets/icons/burger-dark.svg");
}

@media (max-width: 320px) {
  .burger {
    display: inline-block;
  }
}
.wrapper {
  max-width: 1280px;
  margin: auto;
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}
.header {
  width: 100%;
  background-color: transparent;
  padding: 30px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .header__content {
    padding: 0 30px;
  }
}

.header__logo {
  display: flex;
  flex-direction: column;
}

.header__title {
  margin-bottom: 8px;
  text-decoration: none;
}

.header__subtitle {
  margin-left: 4px;
}

.header__navbar ul {
  display: flex;
  gap: 36px;
}
.header__navbar li {
  margin-bottom: 6px;
}

.header_dark .header__title {
  color: #F1CDB3;
}
.header_dark .header__subtitle {
  color: #FFFFFF;
}
.header_dark .header__logo:hover .header__title,
.header_dark .header__logo:hover .header__subtitle {
  color: #FDDCC4;
}
.header_dark .header__logo:active .header__title {
  color: #F1CDB3;
}
.header_dark .header__logo:active .header__subtitle {
  color: #FFFFFF;
}

.header_light .header {
  background-color: #FFFFFF;
}
.header_light .header__title {
  color: #545454;
}
.header_light .header__subtitle {
  color: #4C4C4C;
}
.header_light .header__logo:hover .header__title,
.header_light .header__logo:hover .header__subtitle {
  color: #B2B2B2;
}
.header_light .header__logo:active .header__title {
  color: #545454;
}
.header_light .header__logo:active .header__subtitle {
  color: #4C4C4C;
}

.header_pos-absolute {
  position: absolute;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0;
}

.footer__column {
  display: flex;
  max-width: 30%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 60px;
  color: #FFFFFF;
  overflow-wrap: anywhere;
}

.footer__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #F1CDB3;
  fill: #F1CDB3;
}
.footer__link:hover {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.footer__icon {
  margin-right: 20px;
}

.footer__image {
  max-width: 100%;
}

.footer_bg {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.section-house {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.section-house__block {
  padding: 180px 40px 0;
}
@media (max-width: 1100px) {
  .section-house__block {
    padding: 0 30px;
  }
}

.section-house__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .section-house__content {
    flex-direction: column;
    align-items: center;
  }
}
.section-house__content .content {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  padding-top: 163px;
  padding-bottom: 50px;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .section-house__content .content {
    padding-top: 149px;
    padding-bottom: 100px;
    align-items: center;
  }
}
.section-house__content .content .content__title {
  max-width: 310px;
  color: #FFFFFF;
  margin-bottom: 42px;
}
@media (max-width: 1100px) {
  .section-house__content .content .content__title {
    align-self: flex-start;
  }
}
.section-house__content .content .content__text {
  color: #CDCDCD;
  margin-bottom: 42px;
}
.section-house__content .image {
  max-width: 100%;
}
@media (max-width: 1100px) {
  .section-house__content .image {
    max-width: 80.42%;
    align-self: end;
  }
}

.section-about {
  background-color: #FFFFFF;
}

.section-about__block {
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  justify-content: center;
}
@media (max-width: 1100px) {
  .section-about__block {
    flex-direction: column;
    align-items: center;
  }
}

.section-about__image {
  max-width: 100%;
}
@media (max-width: 1100px) {
  .section-about__image {
    max-width: 39.1%;
    order: 1;
    margin-top: 80px;
  }
}

.section-about__description {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  overflow: hidden;
  padding-top: 14px;
  margin-left: 120px;
}
@media (max-width: 1100px) {
  .section-about__description {
    padding-top: 0;
    margin-left: 0;
  }
}
.section-about__description .title {
  max-width: 370px;
  color: #545454;
  margin-bottom: 25px;
}
.section-about__description .text {
  max-width: 430px;
  color: #4C4C4C;
  margin-bottom: 25px;
}
.section-about__description .text:last-child {
  margin-bottom: 0;
}

.section-pets {
  background-color: #F6F6F6;
}

.section-pets__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px 100px;
}

.section-pets__heading {
  color: #545454;
  margin-bottom: 60px;
  text-align: center;
}

.section-pets__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  overflow: hidden;
}

.slider__cards {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  gap: 0 90px;
}

.section-help {
  background-color: #FFFFFF;
}

.section-help__block {
  display: flex;
  flex-direction: column;
  padding: 80px 40px 100px;
}

.section-help__heading {
  color: #545454;
  margin-bottom: 60px;
  text-align: center;
}

.section-help__list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 120px;
}

@media (max-width: 1280px) {
  .section-help__block {
    padding: 80px 20px 100px;
  }
}
.section-donation {
  background-color: #F6F6F6;
}

.section-donation__block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px 100px;
}

.section-donation__image {
  max-width: 100%;
}

.section-donation__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  margin-left: 30px;
}
.section-donation__content .title {
  color: #545454;
}
.section-donation__content .bank {
  color: #545454;
}
.section-donation__content .bank-card {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 10px 15px;
  border-radius: 9px;
  color: #545454;
  background-color: #F1CDB3;
}
.section-donation__content .bank-card:hover {
  background-color: #FDDCC4;
}
.section-donation__content .legal-info {
  width: 380px;
  font-family: "Arial";
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: normal;
  color: #B2B2B2;
}/*# sourceMappingURL=styles.css.map */