//Headers
h1 {
  font-family: "Georgia";
  @include font($size: 3.2rem, $height: 3.5rem, $spacing: 0.06em);
}

h2 {
  font-family: "Georgia";
  @include font($size: 4.4rem, $height: 5.7rem);
}

h3 {
  font-family: "Georgia";
  @include font($size: 3.5rem, $height: 4.5rem, $spacing: 0.06em);
}

h4 {
  font-family: "Georgia";
  @include font($size: 2rem, $height: 115%, $spacing: 0.06em);
}

h5 {
  font-family: "Georgia";
  @include font($size: 1.5rem, $height: 1.7rem, $spacing: 0.06em);

  &.modal-window {
    font-weight: 700;
  }
}

.paragraph-mobile-menu {
  font-family: "Arial";
  @include font($size: 3.2rem, $height: 5.1rem);
}