@import '../../../styles/abstracts/variables.scss';

.controls-view {
  display: flex;
  padding: $padding;
  margin-bottom: 2 * $padding;
  gap: $padding;
  border-bottom: 2px solid $font-color-level-done;
}