.table-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-item__table {
  width: 90%;
  margin: 0 auto;
}

.table-item__table-image {
  width: 100%;
}

.table-item__pickle,
.table-item__orange {
  width: 70px;

  &.size-small {
    transform: scale(.5);
  }
}

.table-item__plate,
.table-item__bento {
  width: 120px;

  &.size-small {
    transform: scale(.5);
  }
}
