<div class="{{HTML_CODE}}">
  &lt;div class="table"&gt;

  <div class="{{PADDING_LEFT}} {{SELECTABLE_CODE}}" {{DATA_ITEM_ID}}="0">
    &lt;apple /&gt;
  </div>

  <div class="{{PADDING_LEFT}} {{SELECTABLE_CODE}}" {{DATA_ITEM_ID}}="1">
    &lt;plate&gt;
  </div>
  <div class="{{PADDING_LEFT_X2}} {{SELECTABLE_CODE}}" {{DATA_ITEM_ID}}="2">
    &lt;orange class="small" /&gt;
  </div>
  <div class="{{PADDING_LEFT}} {{SELECTABLE_CODE}}" {{DATA_ITEM_ID}}="1">
    &lt;/plate&gt;
  </div>

  <div class="{{PADDING_LEFT}} {{SELECTABLE_CODE}}" {{DATA_ITEM_ID}}="3">
    &lt;bento /&gt;
  </div>

  <div class="{{PADDING_LEFT}} {{SELECTABLE_CODE}}" {{DATA_ITEM_ID}}="4">
    &lt;bento&gt;
  </div>
  <div class="{{PADDING_LEFT_X2}} {{SELECTABLE_CODE}}" {{DATA_ITEM_ID}}="5">
    &lt;orange /&gt;
  </div>
  <div class="{{PADDING_LEFT}} {{SELECTABLE_CODE}}" {{DATA_ITEM_ID}}="4">
    &lt;/bento&gt;
  </div>

  <div class="{{PADDING_LEFT}} {{SELECTABLE_CODE}}" {{DATA_ITEM_ID}}="6">
    &lt;plate id="fancy" /&gt;
  </div>

  &lt;/div&gt;
</div>