<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{TABLE_ITEM_ACTIVE}}"
  {{DATA_ITEM_TOOLTIP}}="&lt;apple&gt;&lt;/apple&gt;" {{DATA_ITEM_ID}}="0">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_APPLE}}" src="../../../assets/images/apple.png">
</div>

<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_CONTAINER}} {{TABLE_ITEM_ACTIVE}}"
  {{DATA_ITEM_TOOLTIP}}="&lt;plate&gt;&lt;/plate&gt;" {{DATA_ITEM_ID}}="1">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_PLATE}}" src="../../../assets/images/plate.png">

  <div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_INSIDE}}"
    {{DATA_ITEM_TOOLTIP}}="&lt;orange&gt;&lt;/orange&gt;" {{DATA_ITEM_ID}}="2">
    <img class="{{TABLE_ITEM}} {{TABLE_ITEM_ORANGE}}" src="../../../assets/images/orange.png">
  </div>
</div>

<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{TABLE_ITEM_ACTIVE}}"
  {{DATA_ITEM_TOOLTIP}}="&lt;bento&gt;&lt;/bento&gt;" {{DATA_ITEM_ID}}="3">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_BENTO}}" src="../../../assets/images/bento.png">
</div>

<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_CONTAINER}} {{TABLE_ITEM_ACTIVE}}"
  {{DATA_ITEM_TOOLTIP}}="&lt;bento&gt;&lt;/bento&gt;" {{DATA_ITEM_ID}}="4">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_PLATE}}" src="../../../assets/images/bento.png">

  <div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_INSIDE}}"
    {{DATA_ITEM_TOOLTIP}}="&lt;orange&gt;&lt;/orange&gt;" {{DATA_ITEM_ID}}="5">
    <img class="{{TABLE_ITEM}} {{TABLE_ITEM_PICKLE}}" src="../../../assets/images/orange.png">
  </div>
</div>

<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{TABLE_ITEM_ACTIVE}}"
  {{DATA_ITEM_TOOLTIP}}="&lt;plate id='fancy'&gt;&lt;/plate&gt;" {{DATA_ITEM_ID}}="6">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_PLATE}}" src="../../../assets/images/plate-fancy.png">
</div>