@import '../../../styles/abstracts/variables.scss';

.css-viewer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 10;

    margin: 5px;

    background-color: $editor-background-color;
    border-radius: $view-border-radius;
    border: 1px solid $border-color;
}

.css-viewer__controls {
    display: flex;
    width: 100%;
}