$font-color-light: #efefef;
$font-color: #84837f;
$font-color-dark: #333231;
$font-color-level-done: #00d600;
$text-color-shadow: #d8ff00;

$background-color: #2e2923;
$level-background-color: #1b1813;
$border-color: $font-color-dark;

$title-color: $font-color-light;
$title-font-size: 2rem;

$current-page-color: $font-color-light;
$current-page-font-size: 1.8rem;

$button-color-border: $font-color;
$button-font-size: 1.6rem;
$button-color-text: $font-color;
$button-color-text-hover: $font-color-dark;
$button-color-border-hover: $font-color-dark;
$button-color-background-hover: $font-color;

$button-disabled-color-text: $font-color;
$button-disabled-color-border: $font-color;

$button-start-color-text: #008000;
$button-start-color-border: $button-start-color-text;
$button-start-color-text-hover: #90ee90;
$button-start-color-border-hover: $button-start-color-text-hover;

$button-return-color-text: #b10303;
$button-return-color-border: $button-return-color-text;
$button-return-color-text-hover: #ff0000;
$button-return-color-border-hover: $button-return-color-text-hover;


$car-track-color: $font-color-light;

$section-max-width: 90vw;

$padding: 1rem;