$font-color-light: #efefef;
$font-color: #84837f;
$font-color-dark: #333231;
$font-color-level-done: #00d600;
$text-color-shadow: #d8ff00;

$background-color: #2e2923;
$level-background-color: #1b1813;
$border-color: $font-color-dark;

$title-color: $font-color-light;
$title-background-color: #27241d;

$font-size-section-header: 1.8rem;
$font-size-tooltip: 2rem;

$button-color-border: $font-color;
$button-font-size: 1.6rem;
$button-color-text: $font-color;
$button-color-text-hover: $font-color-dark;
$button-color-border-hover: $font-color-dark;
$button-color-background-hover: $font-color;

$button-disabled-color-text: $font-color;
$button-disabled-color-border: $font-color;

$section-max-width: 90vw;

$padding: 2rem;