@import '../../../styles/abstracts/variables.scss';
@import '../view-styles.scss';

.board {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;

    margin: 5px;
    padding: 5px;

    border: 1px dashed white;
    border-radius: $view-border-radius;
}

.board__level-order {
    color: $title-color;
    font-size: $font-size-board-order;
    margin-bottom: 10rem;
}

.board__table {
    position: relative;
}

.board__item-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10% 2%;
}