@import '../../../styles/abstracts/variables.scss';

.table-header {
  display: grid;
  grid-template-columns: 5vw 15vw 20vw 20vw 20vw;

  .button {
    width: auto;
    background: $table-header-background-color;

  }

  .button_disabled {
    pointer-events: none;
  }
}

