@import '../styles/abstracts/variables';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-height: 3rem;
  min-width: 9rem;
  height: 3rem;
  padding: 0 10px;
  overflow: hidden;
  border: 2px solid $color-button-border;
  border-radius: 5px;
  cursor: pointer;

  font-size: $button-font-size;
  text-align: center;
  text-decoration: none;
  color: $color-button-text;
  background: transparent;
  transition: all 0.5s;

  &:hover {
    color: $color-button-hover-text;
    border-color: $color-button-hover-border;
    background: $color-button-hover;
  }

  &:active {
    transform: scale(0.95);
  }
}

.button_disabled {
  color: $color-button-disabled-text;
  border-color: $color-button-disabled-border;
  background: transparent;
  pointer-events: none;
}

.button_theme {
  background: url('../assets/image/moon.png') no-repeat center;
  min-width: 3rem;
  background-size: contain;

  &:hover {
    border-color: $color-button-hover-border;
    background: url('../assets/image/moon.png') no-repeat center, $color-button-hover;
    background-size: contain;
  }

  &:active {
    transform: scale(0.95);
  }
}

.theme_dark {
  .button {
    color: $theme-dark-color-button-text;
  }

  .button_disabled {
    color: $color-button-disabled-text;
    border-color: $theme-dark-color-button-disabled-border;
  }

  .button_theme {
    background: url('../assets/image/sun.png') no-repeat center;
    min-width: 3rem;
    background-size: contain;

    &:hover {
      border-color: $color-button-hover-border;
      background: url('../assets/image/sun.png') no-repeat center, $color-button-hover;
      background-size: contain;
    }
  }
}