@import '../styles/abstracts/variables';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: 10rem;
  height: 3rem;
  padding: 0 10px;
  overflow: hidden;
  border: 1px solid $color-button-border;
  cursor: pointer;

  font-size: $button-font-size;
  text-align: center;
  text-decoration: none;
  color: $color-button-text;
  background: transparent;
  transition: color 0.5s;

  &:hover {
    color: $color-button-hover-text;
    border-color: $color-button-hover-border;
    background: $color-button-hover;
  }

  &:active {
    transform: scale(0.95);
  }
}

.button_disabled {
  color: $color-button-disabled-text;
  border-color: $color-button-disabled-border;
  background: transparent;
  pointer-events: none;
}