@mixin font ($size, $height: $size, $weight: 400, $style: normal, $spacing: normal) {
  font-style: $style;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin font3h-mobile() {
  @include font($size: 2.5rem, $height: 3.2rem, $spacing: 0.06em);
}

@mixin font-h5() {
  @include font($size: 1.5rem, $height: 1.7rem, $weight: 400, $spacing: 0.06em);
}

@mixin font-menu-mobile() {
  @include font($size: 3.2rem, $height: 5.1rem);
}

/// Control responsibility
/// @access public
/// @param {String} $breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query)=="string",
      unquote($raw-query),
      inspect($raw-query));

    @media #{$query} {
      @content;
    }
  }

  @else {
    @error "No value for `#{$breakpoint}`. "
    +"Please be sure it was defined in map `$breakpoints`.";
  }
}