@mixin font ($size, $height: $size, $weight: 400, $style: normal, $spacing: normal) {
  font-style: $style;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

/// Control responsibility
/// @access public
/// @param {String} $breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query)=="string",
        unquote($raw-query),
        inspect($raw-query));

    @media #{$query} {
      @content;
    }
  }

  @else {
    @error "No value for `#{$breakpoint}`. "
    +"Please be sure it was defined in map `$breakpoints`.";
  }
}