%font-paragraph-s {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

%font-paragraph-l {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

%font-logo-subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

%transition-color {
  transition: color 0.5s ease-out, fill 0.5s ease-out, background-color 0.5s ease-out;
}