%font-paragraph-s {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
}

%font-paragraph-l {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

%font-logo-subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}
