%animation-active {
  transform: rotate(90deg);
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;

  @include respond-to("toggle-menu") {
    display: inline-flex;
  }

  &:hover {
    scale: 1.1;
  }

  &:active {
    @extend %animation-active;
  }

  & .burger__line {
    width: 100%;
    border: 1px solid $color-primary;
  }
}

.burger_dark {
  & .burger__line {
    border-color: $color-dark;
  }
}

.burger_light {
  & .burger__line {
    border-color: $color-primary;
  }
}

.burger_activated {
  @extend %animation-active;
}