button.button-paginator {
  width: 52px;
  height: 52px;
  padding: 0;
  border: 2px solid $color-primary;
  border-radius: 50%;

  font-family: "Georgia";
  @include font($size: 2rem, $height: 115%, $spacing: 0.06em);
  color: $color-dark-3xl;

  background-color: transparent;
  cursor: pointer;
  @extend %transition-color;

  &:hover {
    border-color: $color-primary-light;
    background-color: $color-primary-light;
  }

  &:active,
  &.active {
    border-color: $color-primary;
    background-color: $color-primary;
  }

  &:disabled {
    color: $color-dark-s;
    border-color: $color-dark-s;
    background-color: transparent;
    cursor: auto;
  }
}