.card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: $color-light-s;
  border-radius: 9px;
  overflow: hidden;

  @extend %transition-color;

  .card__image {
    width: 100%;
    margin-bottom: 30px;
    background-color: $color-light-s;
  }

  .card__title {
    font-family: "Georgia";
    @include font($size: 2rem, $height: 2.3rem, $spacing: 0.06em);
    letter-spacing: 0.06em;
    margin-bottom: 30px;
  }


  &:hover {
    background-color: $color-light-xl;
    cursor: pointer;

    //force styles for child a.button
    & a.button,
    & a.button.button--transparent {
      border-color: $color-primary-light;
      background-color: $color-primary-light;
    }

    & a.button:active,
    & a.button.button--transparent:active {
      border-color: $color-primary;
      background-color: $color-primary;
    }
  }
}