.help-card {
  display: flex;
  flex-direction: column;
  height: 113px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  @include respond-to("small-desktop") {
    width: 170px;
  }

  @include respond-to("big-mobile") {
    width: 130px;
    height: 87px;
  }
}

.help-card__image img {
  width: 60px;
  height: 60px;

  @include respond-to("big-mobile") {
    width: 50px;
    height: 50px;
  }
}

.help-card__caption {
  color: $color-dark-l;
}

@include respond-to("big-mobile") {
  .help-card__title {
    @include font($size: 1.5rem, $height: 1.7rem, $spacing: 0.06em);
  }
}