.popup {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: $color-popup-background;
}

.popup__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.popup__close-button {
  position: absolute;
  top: -52px;
  right: -42px;

  @include respond-to("small-tablet") {
    right: -30px;
  }
}

.popup__card {
  display: flex;
  height: 500px;
  width: 900px;
  background-color: $color-light-s;
  border-radius: 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

  @include respond-to("big-tablet") {
    height: 350px;
    width: 630px;
  }

  @include respond-to("small-tablet") {
    height: 341px;
    width: 240px;
  }
}

.popup__image {
  height: 500px;
  width: 500px;
  object-fit: contain;
  border-radius: 9px 0px 0px 9px;

  @include respond-to("big-tablet") {
    height: 350px;
    width: 350px;
  }

  @include respond-to("small-tablet") {
    display: none;
  }
}

.popup__about {
  overflow-y: auto;
  padding: 50px 20px 50px 29px;

  @include respond-to("big-tablet") {
    padding: 10px 9px 10px 10px;
  }

  @include respond-to("small-tablet") {
    padding: 10px;
  }

  .name {
    margin-bottom: 10px;

    @include respond-to("small-tablet") {
      text-align: center;
    }
  }

  .type-bread {
    margin-bottom: 40px;

    @include respond-to("big-tablet") {
      margin-bottom: 20px;
    }

    @include respond-to("small-tablet") {
      text-align: center;
    }
  }

  .description {
    max-height: 102px;
    overflow-y: auto;
    margin-bottom: 40px;

    @include respond-to("big-tablet") {
      font-size: 13px;
      line-height: 14px;
      letter-spacing: 0.06em;
      max-height: 98px;
      margin-bottom: 20px;
    }

    @include respond-to("small-tablet") {
      text-align: justify;
      max-height: 112px;
      margin-bottom: 24px;
    }
  }

  .data-list {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    row-gap: 10px;

    @include respond-to("big-tablet") {
      margin-left: 15px;
      row-gap: 5px;
    }

    @include respond-to("small-tablet") {
      row-gap: 6px;
    }
  }

  .list-item {
    @include font-h5();
    font-weight: 700;

    h5 {
      display: inline;
    }
  }

  .list-item::marker {
    color: $color-primary;
  }
}