.slider {
  overflow: hidden;
}

.slider__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 40px;

  & .card {
    justify-self: center;
  }
}

.slider__nav {
  display: flex;
  margin-top: 60px;
  gap: 20px;

  @include respond-to("mobile") {
    gap: 10px;
    margin-top: 42px;
  }
}