
@import '../styles/abstracts/variables';

.popup {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100vw;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-popup-bg;
  backdrop-filter: blur(4px);
}


.popup__title {
  font-size: 4rem;
  text-align: center;
}

.popup__title_win {
  color: $color-win-message;
}

.popup__title_lose {
  color: $color-lose-message;
}