<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}}" {{DATA_ITEM_TOOLTIP}}="&lt;bento /&gt;" {{DATA_ITEM_ID}}="0">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_BENTO}} {{TABLE_ITEM_ACTIVE}}" src="../../../assets/images/bento.png">
</div>
<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}}" {{DATA_ITEM_TOOLTIP}}="&lt;plate /&gt;" {{DATA_ITEM_ID}}="1">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_PLATE}}" src="../../../assets/images/plate.png">
</div>
<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}}" {{DATA_ITEM_TOOLTIP}}="&lt;bento /&gt;" {{DATA_ITEM_ID}}="2">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_BENTO}} {{TABLE_ITEM_ACTIVE}}" src="../../../assets/images/bento.png">
</div>