@import '../../styles/abstracts/variables.scss';

.level_done {
  color: $font-color-level-done;
}

.level_done-with-help {
  color: $font-color-level-done-with-help;
}

.table-item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.table-item__table {
  width: 90%;
  margin: 0 auto;
}

.table-item__table-image {
  width: 100%;
}

.table-item__pickle,
.table-item__apple,
.table-item__orange {
  max-width: 70px;
  width: 6.6vw;

  &.size-small {
    transform: scale(.5);
  }

  @media (max-width: 1024px) {
    width: 4.5vw;
  }
}

.table-item__plate,
.table-item__bento {
  max-width: 120px;
  width: 9.9vw;

  &.size-small {
    transform: scale(.5);
  }

  @media (max-width: 1024px) {
    width: 8.9vw;
  }
}

.table__item_selected {
  outline: auto;
  outline-offset: 4px;
  outline-color: aliceblue;
}

.table__item_go_away {
  opacity: 0;
}

.table__item_active {
  animation: blur 2s infinite;
}

@keyframes blur {
  0% {
    filter: blur(1px);
  }

  50% {
    filter: blur(5px);
  }

  100% {
    filter: blur(1px);
  }
}

@keyframes goaway {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}