@import '../styles/abstracts/variables.scss';

.sound {
  display: flex;
  align-items: center;
}

.sound__label {
  display: flex;
  align-items: center;
  font-size: $font-size-large;
}

.sound__switch {
  transform: scale($input-scale);
  margin-left: $space-horizontal;
}