@import '../../../styles/abstracts/variables.scss';
@import '../view-styles.scss';

.html-viewer {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 10;

  margin: 5px;

  background-color: $editor-background-color;
  border: 1px solid $border-color;
  border-radius: $view-border-radius;

  overflow-y: auto;
  overflow-x: hidden;
}

.html-viewer__code {
  font-size: $font-size-code;
  color: $font-color;
}

.code-wrapper {
  display: flex;
  flex-direction: column;
  color: $font-color-code;
  padding: $padding;
  font-size: $font-size-code;

  cursor: default;

  @media (max-width: 1024px) {
    font-size: $font-size-code-small;
  }
}

.code-wrapper .hljs {
  padding: 0;
  background: transparent;
}

.code_selected {
  text-shadow: 0 0 0.5em $text-color-shadow;
  font-style: italic;
}