@import '../../../styles/abstracts/variables.scss';

.header {
  display: flex;
  padding: $padding;
  gap: 2*$padding;
  width: $section-max-width;

  & .nav {
    display: flex;
    padding: $padding;
    gap: 2*$padding;
  }
}
