@import '../../../styles/abstracts/variables.scss';

.header {
  width: $section-max-width;
  margin: auto;

  & .nav {
    display: flex;
    padding: 4 * $padding $padding $padding;
    gap: $padding;
  }
}
