@import '../abstracts/variables';

.wrapper {
  // min-width: $content-width-min;
  margin: auto;
}

.wrapper_small {
  max-width: $content-width-small;
}

.wrapper_medium {
  max-width: $content-width-medium;
}

.wrapper_medium {
  max-width: $content-width-large;
}

