$playground-easy: 10;
$playground-medium: 15;
$playground-hard: 25;

$field-border-color: #808080;
$field-hidden-bgcolor: #a9a9a9;
$field-open-bgcolor: #d3d3d3;
$field-explosion-bgcolor: #ff0000;

$field-font-size-small: 1.2rem;
$field-font-size-medium: 1.5rem;
$field-font-size-large: 2rem;

$margin-vertical: 5rem;

$color-button: #000000;
$color-button-border: $color-button;
$color-button-text: $color-button;

$color-button-hover: #00cccc;
$color-button-hover-text: $color-button;
$color-button-hover-border: $color-button-hover;

$color-button-disabled: #808080;
$color-button-disabled-text: $color-button-disabled;
$color-button-disabled-border: $color-button-disabled;

$color-counter-value: #0000ff;

$counter-font-size: 1.5rem;

$button-size: 5rem;
$button-font-size: 1.5rem;

$space-vertical: 1vh;
$space-horizontal: 1vw;
$padding: 10px;

$content-width-min: 500px;
$content-width-max: 1280px;
