$playground-easy: 10;
$playground-medium: 15;
$playground-hard: 25;

$field-border-color: #808080;
$field-hidden-bgcolor: #a9a9a9;
$field-open-bgcolor: #d3d3d3;
$field-explosion-bgcolor: #ff0000;

$font-size-small: 1.2rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-largest: 2.5rem;

$margin-vertical: 5rem;

$color-button: #000000;
$color-button-border: $color-button;
$color-button-text: $color-button;

$color-button-hover: #00cccc;
$color-button-hover-text: $color-button;
$color-button-hover-border: $color-button-hover;

$color-button-disabled: rgb(128, 128, 128);
$color-button-disabled-text: $color-button-disabled;
$color-button-disabled-border: $color-button-disabled;

$color-counter-value: #0000ff;

$color-popup: rgb(179, 179, 179);
$color-popup-bg: rgba(209, 209, 209, 0.9);

$counter-font-size: $font-size-medium;

$button-size: 5rem;
$button-font-size: $font-size-medium;

$space-vertical: 1vh;
$space-horizontal: 1vw;
$padding: 10px;
$input-scale: 1.5;

$content-width-min: 500px;
$content-width-max: 1280px;