$playground-size-easy: 10;
$playground-size-medium: 15;
$playground-size-hard: 25;

$field-border-color: #808080;
$field-hidden-bgcolor: #a9a9a9;
$field-open-bgcolor: #d3d3d3;
$field-explosion-bgcolor: #ff0000;

$field-min-size: 2rem;
$field-max-size: 5rem;
$field-font-size: 1.5rem;


$color-text: #c4c4c4;
$color-border: #aaaaaa;
$color-keyboard-background: #8a8a8a;
$color-button: #3b3b3b;
$color-button-special: #0f141f;
$color-button-hover: #00cccc;
$color-button-active: #00eeee;
$color-button-text: #ffffff;
$color-button-hover-text: #000000;

$button-size: 5rem;

$space-between: 1rem;

$content-width: 1280px;
