body {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: sans-serif;
    background: url('./images/background.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

header {
    padding: 10px 0;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 800;

}

@media (max-width: 1280px) {
    header h1 {
        font-size: 2rem;
        padding: 0.5rem;
    }
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
}
footer .copyright a {
    color: #ffffff;
}
footer .copyright a:hover {
    color: #a1a1a1;
}
footer .copyright:before {
    content: '©';
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
}

.wrapper {
    margin: 0 auto;
    width: 95%;
}

.container {
    width: 100%;
}

.course {
    display: block;
    height: 30px;
    width: 100%;
    margin-top: 1rem;
    background: url('./images/rs_school_js.svg') no-repeat center;
}

.news {
    display: flex;
    flex-wrap: wrap;
}
