.header__content,
.footer {
  padding-left: 40px;
  padding-right: 40px;
}

.footer_bg {
  background: url("../../assets/images/noise_transparent@2x.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}