.section-wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

.section-header-bg {
  background-color: $color-light-xl;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-pets-bg {
  background-color: $color-light-l;
}

.section-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.section-pets__heading {
  color: $color-dark-l;
  margin-bottom: 60px;
  text-align: center;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.slider__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 40px;
}

.slider__nav {
  display: flex;
  margin-top: 60px;
  gap: 20px;
}

.footer_bg {
  background: url("../../assets/images/noise_transparent@2x.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer {
  padding-left: 40px;
  padding-right: 40px;
}