@import '../styles/abstracts/variables.scss';

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $space-vertical;
  max-width: $content-width-min;
}