<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_CONTAINER}}" {{DATA_ITEM_TOOLTIP}}="&lt;bento&gt;&lt;/bento&gt;" {{DATA_ITEM_ID}}="0">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_BENTO}}" src="../../../assets/images/bento.png">

  <div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_INSIDE}}" {{DATA_ITEM_TOOLTIP}}="&lt;orange&gt;&lt;/orange&gt;" {{DATA_ITEM_ID}}="1">
    <img class="{{TABLE_ITEM}} {{TABLE_ITEM_ORANGE}}" src="../../../assets/images/orange.png">
  </div>

</div>

<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_CONTAINER}}" {{DATA_ITEM_TOOLTIP}}="&lt;plate id='fancy'&gt;&lt;/plate&gt;" {{DATA_ITEM_ID}}="2">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_PLATE}}" src="../../../assets/images/plate-fancy.png">

  <div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_INSIDE}}" {{DATA_ITEM_TOOLTIP}}="&lt;pickle&gt;&lt;/pickle&gt;" {{DATA_ITEM_ID}}="3">
    <img class="{{TABLE_ITEM}} {{TABLE_ITEM_PICKLE}} {{TABLE_ITEM_ACTIVE}}" src="../../../assets/images/pickle.png">
  </div>

</div>

<div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_CONTAINER}}" {{DATA_ITEM_TOOLTIP}}="&lt;plate&gt;&lt;/plate&gt;" {{DATA_ITEM_ID}}="4">
  <img class="{{TABLE_ITEM}} {{TABLE_ITEM_PLATE}}" src="../../../assets/images/plate.png">

  <div class="{{TABLE_ITEM}} {{TABLE_ITEM_SELECTABLE}} {{POSITION_INSIDE}}" {{DATA_ITEM_TOOLTIP}}="&lt;pickle&gt;&lt;/pickle&gt;" {{DATA_ITEM_ID}}="5">
    <img class="{{TABLE_ITEM}} {{TABLE_ITEM_PICKLE}}" src="../../../assets/images/pickle.png">
  </div>

</div>


